.right-container {
    margin-left: 30px;
    margin-right: 20px;
    width: 300px;
    max-width: 100%;
    background-color: rgb(242, 226, 226, 0.4);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    font-family:'Dancing Script', cursive;
    font-size: medium;
    font-weight: bolder;
    align-items: center;
    justify-content: center;
    
  }


.img_box {
  margin-left: 30px;
  margin-right: 20px;
  width: 4px;

}
  
  .center_new {
    margin:auto;
    width: 70%;
    height: 15%;
    padding: 5px;
    text-align: center;
    font-size: 20px;
    font-family: 'Qwitcher Grypen', cursive;
  
  } 
.center {
    margin:auto;
    width: 70%;
    border: 3px solid #ccc;
    padding: 5px;
    text-align: center;
    font-size: 160%;
    font-family: 'windlassregular';
    overflow-x: auto;
    color: #ae8624;
  }

  .audio-player {
    --player-button-width: 3em;
    --sound-button-width: 2em;
    --space: .5em;
    width: 15rem;
    height: 15rem;
  }
  
  .icon-container {
    width: 100%;
    height: 100%;
    background-color: #DE5E97;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .audio-icon {
     width: 90%;
     height: 90%;
  }
  
  .controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-top: 10px;
  }
  
  .player-button {
    background-color: transparent;
    border: 0;
    width: var(--player-button-width);
    height: var(--player-button-width);
    cursor: pointer;
    padding: 0;
  }
  
  .timeline {
    -webkit-appearance: none;
    width: calc(100% - (var(--player-button-width) + var(--sound-button-width) + var(--space)));
    height: .5em;
    background-color: #e5e5e5;
    border-radius: 5px;
    background-size: 0% 100%;
    background-image: linear-gradient(#DE5E97, #DE5E97);
    background-repeat: no-repeat;
    margin-right: var(--space);
  }
  
  .timeline::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
    transition: all .1s;
    background-color: #a94672;
  }
  
  .timeline::-moz-range-thumb {
    -webkit-appearance: none;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
    transition: all .1s;
    background-color: #a94672;
  }
  
  .timeline::-ms-thumb {
    -webkit-appearance: none;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
    transition: all .1s;
    background-color: #a94672;
  }
  
  .timeline::-webkit-slider-thumb:hover {
    background-color: #943f65;
  }
  
  .timeline:hover::-webkit-slider-thumb {
    opacity: 1;
  }
  
  .timeline::-moz-range-thumb:hover {
    background-color: #943f65;
  }
  
  .timeline:hover::-moz-range-thumb {
    opacity: 1;
  }
  
  .timeline::-ms-thumb:hover {
    background-color: #943f65;
  }
  
  .timeline:hover::-ms-thumb {
    opacity: 1;
  }
  
  .timeline::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }
  
  .timeline::-moz-range-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }
  
  .timeline::-ms-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }
  
  .sound-button {
    background-color: transparent;
    border: 0;
    width: var(--sound-button-width);
    height: var(--sound-button-width);
    cursor: pointer;
    padding: 0;
  }

  .loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #242f3f;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #Fff;
    animation: loader 2s infinite ease;
  }
  .loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
  }
  
  @keyframes loader {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(180deg);}
    50% { transform: rotate(180deg);}
    75% { transform: rotate(360deg);}
    100% { transform: rotate(360deg);}
  }
  
  @keyframes loader-inner {
    0% { height: 0%;}
    25% { height: 0%;}
    50% { height: 100%;}
    75% { height: 100%;}
    100% { height: 0%;}
  }
  